* {
	box-sizing: border-box;
}
html {
  font-family: sans-serif;
}


body {
  margin: 0; 
  min-width: 480px;
  }


@font-face {
    font-family: dancing-script-ot; 
    src: url(fonts/dancing-script-ot.ttf); 
} 
  
  
/************************************************/  
/* Header styles */
/************************************************/
.header {
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-image: url(img/header_image.jpg);
	background-position: center;
	background-size: cover;
}
  
.header__caption {
    font-size: 77px;
    font-weight: normal;
	font-family: 'dancing-script-ot';
    color: white;
	margin: 0px;
    width: 100%;
    text-align: center;
    top: 15%;
 
}

.header__subtitle {
    font-size: 32px;
    font-weight: normal;
    font-family: "Roboto";
    color: white;

    width: 100%;
    text-align: center;
    top: 40%;
 
}

.header__button {
    border: none;
    font-size: 24px;
    color: white;
    background-color: #003333;
    text-align: center;
    padding: 13px 18px;
	margin: 20px;
}
/****************************************/
/* menu header */
/****************************************/
.header__nav {
    display: flex;
	justify-content: flex-end;
	width: 100%;
    box-sizing: border-box;
}
.nav {
	padding: 20px 68px; 
 }
 
.nav__item {
    text-decoration: none;
    
	color: white;
    margin-left: 35px;
    transition: 0.5s;
    padding-bottom: 30px;
    border-bottom: 1px solid transparent; 
	}
	

li {
	list-style-type: none;
	display: inline;
	padding-top: 20px;
}

#toggler{
	/*display: none;*/
	display: flex;
    cursor: pointer;
    width: 100%;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 5px;
	z-index: 1;
}
.change .ham__rotate1 {
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .ham__rotate2 {
	opacity: 0;
}

.change .ham__rotate3{
    transform: rotate(45deg) translate(-19px, -14px);
}

.ham{
	width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}

.menu--show{
	display: none;
	position: fixed;
    background: rgba(0, 0, 0, 0.5);
	top: 0;
    bottom: 0;
	align-items: center;
    justify-content: center;
}

.menu{
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/***************************************************************/
/* content */
/**************************************************************/
.content{
	display: block;
}
.content__caption {
	text-align: center;
	font-size: 32px;
	margin: 70px 0 35px;
	font-family: "Roboto";
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden; 
}

.content__discription {
	font-size: 19px;
	line-height: 28px;
	text-align: center;
	max-width: 650px;
	margin: 0 auto 70px; 
}
/**************************************************************/
/*inside*/
/*************************************************************/
.inside{
	display: flex;
   	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 826px;
	width: 100%;
}
.cell{
	flex: 0 0 50%;
	align-items: center;
	font-family: "Roboto";
	text-align: center;
	margin-top: -5px;
}

.cell-info__h3 {
    position: relative; 
}
.cell-info__p {
    max-height: 38px;
    overflow: hidden; 
}

.cell__img{
	width: 100%;
}
/**********************************************************/
/* indicator*/
/**********************************************************/

.indicator {
	display: flex;
    justify-content: center;
	
}
.indicator__button {
    display: block;
}

input[type="radio"]{
	display: none;
	}

.indicator__label{
	height: 11px;
    width: 11px;	
	border: 2px solid #3a4246;
	border-radius: 50%;
	margin-left: 20px;
	cursor: pointer;
}


input[type="radio"]:checked+label{
    border: black solid 2px;
}

/****************************************************************/
/* slide*/
/****************************************************************/
.slider__content{
	position: relative;
    height: 210px;
    list-style-type: none;
	margin-top: 20px;
}
.item-slide {
	position: absolute;
    width: 100%;
    opacity: 0;
    z-index: 1;
    box-sizing: border-box;
}

.item-slide__img {
    border-radius: 50%;
    width: 64px; 
}
.item-slide__h3 {
    font-weight: normal;
    width: 70%;
    margin: 25px auto 20px; 
}
.item-slide__span {
    font-style: italic;
    color: #1599a7;
    font-family: "Roboto"; 
}
.showing {
    opacity: 1;
    z-index: 2;
}
/***********************************************************************/
/*footer*/
/***********************************************************************/
.footer {
	color: white;
	min-height: 145px;
	position: relative;
	background-image: url(img/footer_image.png);
	background-position: center;
	background-size: cover;
	overflow: hidden;
	text-align: center; 
	margin-top: 20px
}
.footer__p {
    padding: 30px 0 15px;
    margin: 0;
    text-align: center;
    font-size: 24px;
    font-family: "Roboto"; 
}
.nav__item-footer {
  color: white;
  text-decoration: none;
  font-size: 19px;
  font-family: "Roboto";
  margin: 0 28px 0 0;
  padding: 5px 0 20px 0;
  border-bottom: 1px solid transparent; 
}
.nav__item-footer:after{
	content: "/";
	padding-left: 25px;
}
.ul:last-child{content: "";}

@media screen and (max-width: 768px) {
.cell{
	flex: 0 0 100%;
	align-items: center;
}

}

@media screen and (min-width: 1024px) {
.cell{
	flex: 0 0 33%;
	align-items: center;
}

.nav__item{
	color: #3a4246;
}

.nav__item--home{
		color: white;
}

#toggler{
	display: none;
}

.menu--show{
	display: flex;
	position: relative;
    background: none;
	top: 0px;
    bottom: 0px;
	align-items: none;
    justify-content: flex-end;
}
.menu{
	flex-direction: row;
}

.nav{
	padding: 0px 68px;
}

}
